$badge-border-radius: 0;
$list-group-active-bg: white;
$list-group-active-color: #495057;
$list-group-bg: #f0f0f0;
$list-group-hover-bg: white;
$nav-link-color: #0a58ca;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

@import 'highlight.js/scss/github.scss';

:root {
	--bs-body-bg: #f0f0f0;
}

#query {
	background-color: #dadae9;
	color: #444791;
}

#query:focus {
	background-color: white;
	color: black;
}

nav {
	background-color: #444791;
}

#query:focus,
nav .filter:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.event_notification {
	background-color: $blue-700;
}

.event_payload {
	background-color: $blue-500;
}

.folder_cl {
	background-color: $red-700;
}

.folder_fs {
	background-color: $red-700;
}

.folder_idpd {
	background-color: $red-700;
}

.folder_pd {
	background-color: $red-700;
}

.application_created {
	background-color: $orange-700;
}

.application_updated {
	background-color: $orange-500;
}

.certificate_created {
	background-color: $yellow-800;
}

.certificate_updated {
	background-color: $yellow-500;
}

.selectee_created {
	background-color: $green-700;
}

.selectee_updated {
	background-color: $green-500;
}

.status_updated {
	background-color: $teal-700;
}

.vacancy_created {
	background-color: $cyan-700;
}

.vacancy_updated {
	background-color: $cyan-500;
}
