$badge-border-radius: 0;
$enable-dark-mode: false;
$input-bg: white;
$list-group-active-bg: white;
$list-group-active-color: black;
$nav-link-color: #0a58ca;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

@import 'highlight.js/scss/github.scss';

:root {
	--bs-body-bg: #f0f0f0;
}

.dropdown-menu {
	--bs-dropdown-bg: white;
}

.mw-0 {
	min-width: 0;
}

.table {
	--bs-table-bg: white;
}

.w-fc {
	width: fit-content;
}

.white-bg {
	background-color: white;
}
