$badge-border-radius: 0;
$enable-dark-mode: false;
$input-bg: white;
$list-group-active-bg: white;
$list-group-active-color: black;
$nav-link-color: #0a58ca;

@import 'bootstrap/scss/bootstrap';
@import 'highlight.js/scss/github.scss';

::backdrop {
	background-color: black;
	opacity: 0.5;
}

:root {
	--bs-body-bg: #f0f0f0;
}

hr {
	color: rgb(128, 128, 128);
}

.mw-0 {
	min-width: 0;
}

.mw-25em {
	min-width: 25em;
}

.table {
	--bs-table-bg: white;
}

.w-fc {
	width: fit-content;
}
